<div id="create-modal-form-type-login" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Log In for Listening Pleasure</p>
            <button id="close-modal3" class="delete"></button>
        </header>
        <section class="modal-card-body">
            {{> modals/login/create-modal-form-body-login}}
        </section>
    </div>
</div>
