<div id="create-modal1" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Add Artist to Favorites</p>
            <button id="close-modal1" class="delete"></button>
        </header>
        <section class="modal-card-body">
            {{> favorites/artists/create-artist1}}
        </section>
    </div>
</div>
