<nav class="navbar primary-color">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <span class="white-text">fanFresh</span>
        </a>
        <a class="navbar-item is-hidden-desktop" href="https://github.com/CodeZaru/fanFresh2" target="_blank">
            <span class="icon" style="color: #333;">
                <i class="fa fa-github"></i>
            </span>
        </a>
        <div class="navbar-artist artist" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="navMenu" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item " href="/">
                <span class="white-text">Favorites</span>
            </a>
            <a class="navbar-item " href="/playlist">
                <span class="white-text">Playlist</span>
            </a>
        </div>
    </div>
</nav>
