<div id="signup-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Sign Up Form</p>
            <button id="close-modal" class="delete"></button>
        </header>
        <section class="modal-card-body">
            {{> signup-modal-form-body}}
        </section>
    </div>
</div>
