<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>fanFresh</title>
    <link rel="stylesheet" href="css/bulma.css">
    <link rel="stylesheet" href="public/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

<div id="navhbs">
    {{> nav}}
 </div>

    {{{body}}}

    {{> create-modal1}}

    {{> modals/signup/create-modal-form-type-signup}}
    {{> modals/login/create-modal-form-type-login}}

    <script src="scripts/jquery.min.js"></script>
    <script type="text/javascript">

//VERY IMPORTANT CODE: this maps the "click" element to "modal" element.
 /*       $('navhbs').on('click', '#modal2-btn', (e) => {
            e.preventDefault();
        $('#create-modal2').toggleClass('is-active');
        });
        
        $('navhbs').on('click', '#close-modal2', (e) => {
            e.preventDefault();
            $('#create-modal2').toggleClass('is-active');
        });
*/
//VERY IMPORTANT CODE: this maps the "click" element to "modal" handlebars element in the body of this page.

        $('body').on('click', '#modal1-btn', (e) => {
            e.preventDefault();
            $('#create-modal1').toggleClass('is-active');
        });

        $('body').on('click', '#close-modal1', (e) => {
            e.preventDefault();
            $('#create-modal1').toggleClass('is-active');
        });

//VERY IMPORTANT CODE: this maps the "click" element to "modal" handlebars element in the body of this page.
        $('body').on('click', '#modal2-btn', (e) => {
            e.preventDefault();
        $('#create-modal-form-type-signup').toggleClass('is-active');
        });
        
        $('body').on('click', '#close-modal2', (e) => {
            e.preventDefault();
            $('#create-modal-form-type-signup').toggleClass('is-active');
        });
  
//VERY IMPORTANT CODE: this maps the "click" element to "modal" handlebars element in the body of this page.
        $('body').on('click', '#modal3-btn', (e) => {
            e.preventDefault();
        $('#create-modal-form-type-login').toggleClass('is-active');
        });
        
        $('body').on('click', '#close-modal3', (e) => {
            e.preventDefault();
            $('#create-modal-form-type-login').toggleClass('is-active');
        });

    </script>
</body>
</html>
