{{#if selections}}
    <section class="section">
        <h1 class="title">Your Selection</h1>
        <div class="container">
            {{> favorites/selections}}

            <div class="">
                {{> favorites/mng-playlist-btn}}
            </div>
        </div>
    </section>
{{/if}}

<section class="section">
    <h1 class="title">Favorite Artists</h1>
    <div class="columns is-multiline is-desktop">
        {{> favorites/artists/artists}}
    </div>
</section>

<div hidden id="signupModal">
     {{> modals/signup/signup-modal}}
</div>

<div hidden id="loginModal">
     {{> modals/login/login-modal}}
</div>



<section class="section">
    <div class="columns">
        {{> playlist/mng-playlist}}

        {{> playlist/saved-playlist}}
    </div>
</section>
