<div id="create-modal-form-type-signup" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Add New SignUp</p>
            <button id="close-modal2" class="delete"></button>
        </header>
        <section class="modal-card-body">
        {{> modals/signup/create-modal-form-body-signup}}
        </section>
    </div>
</div>
