<div class="panel menu-item">
    <div class="panel-heading">
        {{this.name}} {{> favorites/artists/del-artist}}
    </div>
    <div class="panel-block">
        {{this.description}}
    </div>
    <div class="panel-block flex">
        {{> favorites/artists/add-artist}}
    </div>
</div>
