<form class="" action="/new" method="POST">
    <div class="field">
        <label class="label">Name</label>
        <div class="control">
            <input class="input" name="name" type="text" placeholder="Artist">
        </div>
    </div>

    <div class="field">
        <label class="label">Artist's Summary</label>
        <div class="control">
            <textarea class="textarea" name="description" rows="8" cols="80" placeholder="Artist's profile summary..."></textarea>
        </div>
    </div>
    <button type="submit" name="submit-btn" class="button is-primary">Add to Favorites</button>
</form>
