<form class="" action="/new" method="POST">
    <div class="field">
        <label class="label">UserID</label>
        <div class="control">
            <input class="input" name="name" type="text" placeholder="UserID">
        </div>
    </div>

    <div class="field">
        <label class="label">Password</label>
        <div class="control">
            <textarea class="textarea" name="description" rows="8" cols="80" placeholder="Password"></textarea>
        </div>
    </div>
    <button type="submit" name="submit-btn" class="button is-primary">Sign Up!</button>
</form>
